# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# VSCode related
.history
.vscode

# Jetbrains related
.idea

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Application related
bin
log

# Yord defaults
.TODO
